body{
    background-color: hsl(0, 0%, 100%);
}
#im1{
   
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.one{
    text-align: center;
    justify-content: center;
    display: flex;
}


.two {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: antiquewhite;
  }
  
  .two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .two li {
    margin-right: 15px;
  }
